<div>
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
      <!-- [plugins]="barChartPlugins" -->
    </div>
    <!--
    <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
    -->
  </div>
</div>
