<form [formGroup]="form" (ngSubmit)="save()" >
  <button mat-button (click)="InputFile.click()">
    {{ fileField.value ? fileField.value?.name : 'Selecciona un archivo' }}
    <mat-icon slot="end">search</mat-icon>
  </button>

  <div *ngIf="fileField.hasError('validExtension')" >
    {{ fileField.errors.validExtension }}
  </div>

  <input type="file" hidden #InputFile (change)="onFileChange($event)">

  <button type="submit" [disabled]="form.invalid" mat-button>
    Guardar
    <mat-icon slot="end">cloud_upload</mat-icon>
  </button>
</form>
